/[Ll]ibrary/
/[Ll]ogs/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Uu]serSettings/
/[Rr]ecordings/
*.unitypackage

/.vs/
/.idea/
/.vscode/
.vsconfig
*.csproj
*.sln
*.zip
*.zip.meta

Assets/EditMode/
Assets/EditMode.meta

Assets/AddressableAssetsData/Linux/
Assets/AddressableAssetsData/Linux.meta
Assets/AddressableAssetsData/Windows/
Assets/AddressableAssetsData/Windows.meta

Assets/BuiltinAssets/Model/IGibson/
Assets/BuiltinAssets/Model/IGibson.meta

Assets/BuiltinAssets/Model/YCB/
Assets/BuiltinAssets/Model/YCB.meta

Assets/BuiltinAssets/Model/AKB48
Assets/BuiltinAssets/Model/AKB48.meta

Assets/ML-Agents/
Assets/ML-Agents.meta

Assets/SofaUnity/
Assets/SofaUnity.meta

Assets/Plugins/*
!Assets/Plugins/Demigiant/
!Assets/Plugins/Demigiant.meta
!Assets/Plugins/Editor/
!Assets/Plugins/Editor.meta
!Assets/Plugins/HeatMap/
!Assets/Plugins/HeatMap.meta
!Assets/Plugins/URDF-Importer/
!Assets/Plugins/URDF-Importer.meta
!Assets/Plugins/BioIK/BioIK.asmref
!Assets/Plugins/BioIK/BioIK.asmref.meta


ObiEditorSettings.asset
ObiEditorSettings.asset.meta

FR2_Cache.asset
FR2_Cache.asset.meta

Assets/ML-Agents/
Assets/ML-Agents.meta

Assets/Temp/
Assets/Temp.meta

Assets/History/
Assets/History.meta

Assets/StreamingAssets/ImageEditor/
Assets/StreamingAssets/ImageEditor.meta

Assets/AddressableAssetsData/link.xml
Assets/AddressableAssetsData/link.xml.meta

HybridCLRData/

ServerData/

Assets/RFUniverse/Dev/HotUpdateDlls/
Assets/RFUniverse/Dev/HotUpdateDlls.meta

Assets/HybridCLRGenerate/
Assets/HybridCLRGenerate.meta

ProjectSettings/HybridCLRSettings.asset
