/[Ll]ibrary/
/[Ll]ogs/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Uu]serSettings/
/[Rr]ecordings/
*.unitypackage

/.vs/
/.idea/
/.vscode/
.vsconfig
*.csproj
*.sln
*.zip
*.zip.meta

Assets/EditMode/
Assets/EditMode.meta

Assets/AddressableAssetsData/Linux/
Assets/AddressableAssetsData/Linux.meta
Assets/AddressableAssetsData/Windows/
Assets/AddressableAssetsData/Windows.meta

Assets/BuiltinAssets/Model/IGibson/
Assets/BuiltinAssets/Model/IGibson.meta

Assets/BuiltinAssets/Model/AKB48
Assets/BuiltinAssets/Model/AKB48.meta

Assets/ML-Agents/
Assets/ML-Agents.meta

Assets/SofaUnity/
Assets/SofaUnity.meta

Assets/Plugins/BioIK
Assets/Plugins/BioIK.meta
Assets/Plugins/AmplifyShaderEditor
Assets/Plugins/AmplifyShaderEditor.meta
Assets/Plugins/Demigiant
Assets/Plugins/Demigiant.meta
Assets/Plugins/FindReference2
Assets/Plugins/FindReference2.meta
Assets/Plugins/Obi
Assets/Plugins/Obi.meta
Assets/Plugins/Zibra
Assets/Plugins/Zibra.meta
Assets/Plugins/TriLib
Assets/Plugins/TriLib.meta

ObiEditorSettings.asset
ObiEditorSettings.asset.meta

FR2_Cache.asset
FR2_Cache.asset.meta

Assets/Temp/
Assets/Temp.meta

Assets/History/
Assets/History.meta

Assets/StreamingAssets/ImageEditor/
Assets/StreamingAssets/ImageEditor.meta

Assets/AddressableAssetsData/link.xml
Assets/AddressableAssetsData/link.xml.meta

HybridCLRData/

ServerData/

Assets/RFUniverse/Dev/HotUpdateDlls/
Assets/RFUniverse/Dev/HotUpdateDlls.meta

Assets/HybridCLRGenerate/
Assets/HybridCLRGenerate.meta

ProjectSettings/HybridCLRSettings.asset

Assets/UnityDefaultRuntimeTheme.tss
Assets/UnityDefaultRuntimeTheme.tss.meta

MemoryCaptures/
.plastic/
ignore.conf
