[submodule "Assets/EditMode"]
	path = Assets/EditMode
	url = https://github.com/robotflow-initiative/rfuniverse_editmode
[submodule "Assets/Plugins/Obi"]
	path = Assets/Plugins/Obi
	url = https://github.com/robotflow-initiative/rfuniverse-plugins-obi
[submodule "Assets/Plugins/BioIK"]
	path = Assets/Plugins/BioIK
	url = https://github.com/robotflow-initiative/rfuniverse-plugins-bioik
[submodule "Assets/Plugins/TriLib"]
	path = Assets/Plugins/TriLib
	url = https://github.com/robotflow-initiative/rfuniverse-plugins-trilib
[submodule "Assets/Plugins/Zibra"]
	path = Assets/Plugins/Zibra
	url = https://github.com/robotflow-initiative/rfuniverse-plugins-zibra
