<?xml version="1.0"?>
<!--
 Software License Agreement (BSD License)
 Copyright © 2022 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/knuckle/knuckle.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/proximal/proximal.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/middle/middle.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/distal/distal.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/lfmetacarpal/lfmetacarpal.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/middle/middle_and_distal_bt_2p.urdf.xacro" />

  <xacro:macro name="finger" params="hand_type:=^ hand_version:=^ tip_sensor:=^|pst mid_sensor:=^|none prox_sensor:=^|none reflect:=^ prefix:=^
                                     link_prefix joint_prefix parent *origin *axis">

    <!-- Little finger special case -->
    <xacro:if value="${link_prefix == 'lf'}">
      <xacro:lfmetacarpal parent="${parent}" />
      <!-- Knuckle -->
      <xacro:knuckle hand_type="${hand_type}" hand_version="${hand_version}" parent="${prefix}lfmetacarpal">
        <xacro:insert_block name="origin" />
      </xacro:knuckle>
    </xacro:if>
    <!-- Standard finger -->
    <xacro:unless value="${link_prefix == 'lf'}">
      <!-- Knuckle -->
      <xacro:knuckle hand_type="${hand_type}" hand_version="${hand_version}" parent="${parent}">
        <xacro:insert_block name="origin" />
      </xacro:knuckle>
    </xacro:unless>
    <!-- Proximal -->
    <xacro:proximal hand_type="${hand_type}" hand_version="${hand_version}" parent="${prefix}${link_prefix}knuckle"/>
    <!-- BioTac combines Middle + Distal -->
    <xacro:if value="${tip_sensor == 'bt_2p'}">
      <xacro:middle_and_distal_bt_2p hand_type="${hand_type}" hand_version="${hand_version}" parent="${prefix}${link_prefix}proximal"/>
    </xacro:if>
    <!-- Non-BioTac -->
    <xacro:unless value="${tip_sensor == 'bt_2p'}">
      <!-- Middle -->
      <xacro:middle hand_type="${hand_type}" hand_version="${hand_version}" parent="${prefix}${link_prefix}proximal"/>
      <!-- Distal  -->
      <xacro:distal parent="${prefix}${link_prefix}middle"/>
    </xacro:unless>
  </xacro:macro>
</robot>
