<?xml version="1.0"?>
<!--
 Software License Agreement (BSD License)
 Copyright © 2022 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:macro name="sr_hand" params="hand_type hand_version side fingers tip_sensors prox_sensors mid_sensors palm_sensor mounting_plate">

    <!-- Process hand type, version and side parameters -->
    <xacro:include filename="$(find sr_description)/hand/xacro/process_hand_type_version_side_parameters.xacro" />

    <xacro:if value="${side == 'right'}">
      <xacro:property name="reflect" value="1" />
      <xacro:property name="prefix" value="rh_" />
    </xacro:if>
    <xacro:if value="${side == 'left'}">
      <xacro:property name="reflect" value="-1" />
      <xacro:property name="prefix" value="lh_" />
    </xacro:if>

    <!-- Selecting hand according with hand_type -->
    <xacro:if value="${hand_type == 'E'}">
       <xacro:include filename="$(find sr_description)/hand/xacro/hand_e.urdf.xacro" />
       <xacro:sr_hand_e />
    </xacro:if>
    <xacro:if value="${hand_type == 'G'}">
       <xacro:include filename="$(find sr_description)/hand/xacro/hand_g.urdf.xacro" />
       <xacro:sr_hand_g />
    </xacro:if>
    <xacro:if value="${hand_type == 'C'}">
       <xacro:include filename="$(find sr_description)/hand/xacro/hand_c.urdf.xacro" />
       <xacro:sr_hand_c />
    </xacro:if>
  </xacro:macro>
</robot>