<?xml version="1.0"?>
<!--
 Software License Agreement (BSD License)
 Copyright © 2022 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find sr_description)/hand/xacro/forearm/forearm_c.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/wrist/wrist.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/palm/palm_e.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/fingers.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/thumb/thumb.urdf.xacro" />

  <!-- fingers: list-like string specifying available fingers, default: 'th ff mf rf' -->
  <!-- tip_sensors: plain or dict-like string specifying the fingertip (tactile) sensors: 'th=bt_2p ff=bt_sp mf=pst rf=pst, lf=pst' -->
  <!-- mid_sensors: plain or dict-like string specifying the middle-phalange (tactile) sensors -->
  <!-- prox_sensors: plain or dict-like string specifying the proximal (tactile) sensors -->
  <!-- palm_sensor: specifies the palm tactile sensor -->
  <xacro:macro name="sr_hand_c" params="hand_version:=^ reflect:=^ prefix:=^ fingers:=^|all tip_sensors:=^|pst
               prox_sensors:=^|none mid_sensors:=^|none palm_sensor:=^|none">

    <!-- Process fingers parameter -->
    <xacro:property name="_all_finger_tokens_" value="${python.set('th ff mf rf lf'.split())}" />
    <xacro:include filename="$(find sr_description)/hand/xacro/process_fingers_parameter.xacro" />
    <!-- Process sensor parameters -->
    <xacro:include filename="$(find sr_description)/hand/xacro/process_sensor_parameters.xacro" />

    <!-- Forearm -->
    <xacro:forearm />
    <!-- Wrist -->
    <xacro:wrist parent="${prefix}forearm">
      <origin xyz="0 0 0.4096" rpy="0 0 0" />
    </xacro:wrist>
    <!-- Palm -->
    <xacro:palm parent="${prefix}wrist" />
    <!-- First Finger -->
    <xacro:if value="${'ff' in fingers}">
      <xacro:finger link_prefix="ff" joint_prefix="FF" tip_sensor="${tip_sensors.ff}" prox_sensor="${prox_sensors.ff}"
                    mid_sensor="${mid_sensors.ff}" parent="${prefix}palm">
        <origin xyz="${reflect*0.033} 0 0.095" rpy="0 0 0" />
        <axis xyz="0 ${-1*reflect} 0" />
      </xacro:finger>
    </xacro:if>
    <!-- Middle Finger -->
    <xacro:if value="${'mf' in fingers}">
      <xacro:finger link_prefix="mf" joint_prefix="MF" tip_sensor="${tip_sensors.mf}" prox_sensor="${prox_sensors.mf}"
                    mid_sensor="${mid_sensors.mf}" parent="${prefix}palm">
        <origin xyz="${reflect*0.011} 0 0.099" rpy="0 0 0" />
        <axis xyz="0 ${-1*reflect} 0" />
      </xacro:finger>
    </xacro:if>
    <!-- Ring Finger -->
    <xacro:if value="${'rf' in fingers}">
      <xacro:finger link_prefix="rf" joint_prefix="RF" tip_sensor="${tip_sensors.rf}" prox_sensor="${prox_sensors.rf}"
                    mid_sensor="${mid_sensors.rf}" parent="${prefix}palm">
        <origin xyz="${reflect*-0.011} 0 0.095" rpy="0 0 0" />
        <axis xyz="0 ${reflect} 0" />
      </xacro:finger>
    </xacro:if>
    <!-- Little Finger  -->
    <xacro:if value="${'lf' in fingers}">
      <xacro:finger link_prefix="lf" joint_prefix="LF" tip_sensor="${tip_sensors.lf}" prox_sensor="${prox_sensors.lf}"
                    mid_sensor="${mid_sensors.lf}" parent="${prefix}palm">
        <origin xyz="${reflect*0.05389084} 0 0.03773727" rpy="0 ${reflect*0.9599} 0" />
        <axis xyz="0 ${reflect} 0" />
      </xacro:finger>
    </xacro:if>
    <!-- Thumb  -->
    <xacro:if value="${'th' in fingers}">
      <xacro:thumb is_lite="0" parent="${prefix}palm" tip_sensor="${tip_sensors.th}" prox_sensor="${prox_sensors.th}"
                   mid_sensor="${mid_sensors.th}" />
    </xacro:if>
  </xacro:macro>
</robot>
