<?xml version="1.0"?>
<!--
 Software License Agreement (BSD License)
 Copyright © 2022 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="$(find sr_description)/hand/xacro/validate_macros.xacro" />
	<xacro:if value="${fingers.lower() == 'all'}">
		<xacro:property name="fingers" value="${list(_all_finger_tokens_)}" />
	</xacro:if>
	<xacro:unless value="${python.isinstance(fingers, list)}">
		<!-- Transform string parameter into a list -->
		<xacro:property name="fingers" value="${xacro.tokenize(fingers)}" lazy_eval="false" />
	</xacro:unless>
	<!-- Normalize finger tokens to lower case -->
	<xacro:property name="fingers" value="${[f.lower() for f in fingers]}" lazy_eval="false" />
	<!-- Validate finger tokens -->
	<xacro:validate_tokens tokens="${fingers}" valid="${_all_finger_tokens_}" name="finger specifier" />
	<!-- Handle deprecated lf parameter -->
	<xacro:property name="lf" default="${None}" />
	<xacro:if value="${lf is not None}">
		<!-- If lf was set (i.e. is not None), remove it from fingers if needed -->
		<xacro:property name="fingers" value="${list(python.set(fingers) - python.set(['lf'] if not lf else []))}" lazy_eval="false" />
		${xacro.warning('Parameter "lf" is deprecated. Please use fingers="tf ff mf rf" instead!')}
	</xacro:if>
	<!-- Unset parameter to indicate that we processed it -->
	<xacro:property name="lf" remove="true" />
	<!-- Handle deprecated extra_lite parameter -->
	<xacro:property name="extra_lite" default="${None}" />
	<xacro:if value="${extra_lite is not None}">
		<!-- extra_lite hand doesn't have mf -->
		<xacro:property name="fingers" value="${list(python.set(fingers) - python.set(['mf'] if extra_lite else []))}" lazy_eval="false" />
		${xacro.warning('Parameter "extra_lite" is deprecated. Please use fingers="tf ff rf" instead!')}
	</xacro:if>
	<!-- Unset parameter to indicate that we processed it -->
	<xacro:property name="extra_lite" remove="true" />
</robot>
