<?xml version="1.0"?>
<!--
 Software License Agreement (BSD License)
 Copyright © 2022 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="$(find sr_description)/hand/xacro/validate_macros.xacro" />
	<xacro:property name="allowed_hand_types" value="${python.set('hand_e hand_g hand_c'.split())}" />
	<xacro:property name="allowed_hand_versions" value="${python.set('E3M5 E2M3 C6M2 G1M5'.split())}"/>
        <xacro:property name="allowed_sides" value="${python.set('right left'.split())}"/>
        <xacro:property name="allowed_mounting_plate" value="${python.set([False, True])}"/>

	<!-- Validate hand type -->
	<xacro:validate_tokens tokens="${python.set([hand_type])}" valid="${allowed_hand_types}" name="hand type specifier" />

	<!-- Validate hand version -->
	<xacro:validate_tokens tokens="${python.set([hand_version])}" valid="${allowed_hand_versions}" name="hand version specifier" />

        <!-- Validate hand version corresponds to hand type -->
	<xacro:unless value="${hand_type.lower()[-1] == hand_version.lower()[0]}">
        	${xacro.error("Parameter 'hand_type' ("+hand_type+") doesn't comply with 'hand_version' ("+hand_version+")")}
        </xacro:unless>

	<!-- Validate side -->
	<xacro:validate_tokens tokens="${python.set([side])}" valid="${allowed_sides}" name="hand side specifier" />

        <!-- Validate mounting plate options -->
        <xacro:validate_tokens tokens="${python.set([mounting_plate])}" valid="${allowed_mounting_plate}" name="hand mounting_plate specifier" />

	<!-- Normalize hand_type to be lower case -->
	<xacro:property name="hand_type" value="${hand_type.lower()}" lazy_eval="false" />
	<xacro:if value="${hand_type.lower() == 'hand_e'}">
		<xacro:property name="hand_type" value="E" />
	</xacro:if>
	<xacro:if value="${hand_type.lower() == 'hand_g'}">
		<xacro:property name="hand_type" value="G" />
	</xacro:if>
	<xacro:if value="${hand_type.lower() == 'hand_c'}">
		<xacro:property name="hand_type" value="C" />
	</xacro:if>
</robot>
