<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find schunk_svh_description)/urdf/common.xacro" />
  
  <xacro:macro name="svh_gazebo" params="name robot_namespace:='/'">
    
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <legacyModeNS>false</legacyModeNS>
        <robotNamespace>${robot_namespace}</robotNamespace>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin>
    </gazebo>
    
    <!--   ${name}_j3 mimics ${name}_Thumb_Flexion --> 
    <xacro:mimic_joint_plugin_gazebo name_prefix="${name}_j3"
                                     parent_joint="${name}_Thumb_Flexion" 
                                     mimic_joint="${name}_j3"
                                     has_pid="true" multiplier="1.01511" max_effort="100.0" 
                                     robot_namespace="${robot_namespace}" />
    
    <!--   ${name}_j4 mimics ${name}_Thumb_Flexion -->
    <xacro:mimic_joint_plugin_gazebo name_prefix="${name}_j4"
                                     parent_joint="${name}_Thumb_Flexion" 
                                     mimic_joint="${name}_j4"
                                     has_pid="true" multiplier="1.44889" max_effort="100.0" 
                                     robot_namespace="${robot_namespace}" />
    
    <!--   ${name}_j14 mimics ${name}_Index_Finger_Distal -->
    <xacro:mimic_joint_plugin_gazebo name_prefix="${name}_j14"
                                     parent_joint="${name}_Index_Finger_Distal" 
                                     mimic_joint="${name}_j14"
                                     has_pid="true" multiplier="1.0450" max_effort="100.0" 
                                     robot_namespace="${robot_namespace}" />
    
    <!--   ${name}_j15 mimics ${name}_Middle_Finger_Distal -->
    <xacro:mimic_joint_plugin_gazebo name_prefix="${name}_j15"
                                     parent_joint="${name}_Middle_Finger_Distal" 
                                     mimic_joint="${name}_j15"
                                     has_pid="true" multiplier="1.0454" max_effort="100.0" 
                                     robot_namespace="${robot_namespace}" />
    
    <!--   ${name}_j12 mimics ${name}_Ring_Finger  -->
    <xacro:mimic_joint_plugin_gazebo name_prefix="${name}_j12"
                                     parent_joint="${name}_Ring_Finger" 
                                     mimic_joint="${name}_j12"
                                     has_pid="true" multiplier="1.3588" max_effort="100.0" 
                                     robot_namespace="${robot_namespace}" />
    
    <!--   ${name}_j16 mimics ${name}_Ring_Finger  -->
    <xacro:mimic_joint_plugin_gazebo name_prefix="${name}_j16"
                                     parent_joint="${name}_Ring_Finger" 
                                     mimic_joint="${name}_j16"
                                     has_pid="true" multiplier="1.42093" max_effort="100.0" 
                                     robot_namespace="${robot_namespace}" />
    
    <!--   ${name}_j13 mimics ${name}_Pinky -->
    <xacro:mimic_joint_plugin_gazebo name_prefix="${name}_j13"
                                     parent_joint="${name}_Pinky" 
                                     mimic_joint="${name}_j13"
                                     has_pid="true" multiplier="1.35880" max_effort="100.0" 
                                     robot_namespace="${robot_namespace}" />
    
    <!--   ${name}_j17 mimics ${name}_Pinky -->
    <xacro:mimic_joint_plugin_gazebo name_prefix="${name}_j17"
                                     parent_joint="${name}_Pinky" 
                                     mimic_joint="${name}_j17"
                                     has_pid="true" multiplier="1.42307" max_effort="100.0" 
                                     robot_namespace="${robot_namespace}" />
    
    <!--   ${name}_index_spread mimics ${name}_Finger_Spread -->
    <xacro:mimic_joint_plugin_gazebo name_prefix="${name}_index_spread"
                                     parent_joint="${name}_Finger_Spread" 
                                     mimic_joint="${name}_index_spread"
                                     has_pid="true" multiplier="0.5" max_effort="100.0" 
                                     robot_namespace="${robot_namespace}" />
    
    <!--   ${name}_ring_spread mimics ${name}_Finger_Spread -->
    <xacro:mimic_joint_plugin_gazebo name_prefix="${name}_ring_spread"
                                     parent_joint="${name}_Finger_Spread" 
                                     mimic_joint="${name}_ring_spread"
                                     has_pid="true" multiplier="0.5" max_effort="100.0" 
                                     robot_namespace="${robot_namespace}" /> 
    
  </xacro:macro>
</robot>