<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find schunk_svh_description)/urdf/common.xacro" />

  <xacro:macro name="svh_transmission" params="name">
    
    <xacro:default_transmission jname="${name}_Thumb_Opposition"/>
    <xacro:default_transmission jname="${name}_Thumb_Flexion"/>
    <xacro:default_transmission jname="${name}_Index_Finger_Proximal"/>
    <xacro:default_transmission jname="${name}_Index_Finger_Distal"/>
    <xacro:default_transmission jname="${name}_Middle_Finger_Proximal"/>
    <xacro:default_transmission jname="${name}_Middle_Finger_Distal"/>
    <xacro:default_transmission jname="${name}_Finger_Spread"/>
    <xacro:default_transmission jname="${name}_Pinky"/>
    <xacro:default_transmission jname="${name}_Ring_Finger"/>

  </xacro:macro>

</robot>