<!--
 Software License Agreement (BSD License)
 Copyright © 2022 belongs to Shadow Robot Company Ltd.
 All rights reserved.
 Redistribution and use in source and binary forms, with or without modification,
 are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
   2. Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
   3. Neither the name of Shadow Robot Company Ltd nor the names of its contributors
      may be used to endorse or promote products derived from this software without
      specific prior written permission.
 This software is provided by Shadow Robot Company Ltd "as is" and any express
 or implied warranties, including, but not limited to, the implied warranties of
 merchantability and fitness for a particular purpose are disclaimed. In no event
 shall the copyright holder be liable for any direct, indirect, incidental, special,
 exemplary, or consequential damages (including, but not limited to, procurement of
 substitute goods or services; loss of use, data, or profits; or business interruption)
 however caused and on any theory of liability, whether in contract, strict liability,
 or tort (including negligence or otherwise) arising in any way out of the use of this
 software, even if advised of the possibility of such damage.
-->

<test xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="test" params="tip_sensors:=pst mid_sensors:=none prox_sensors:=none palm_sensor:=none
	                                 bio:=${None} bt_sp:=${None} eli:=${None}">
		<xacro:include filename="$(find sr_description)/hand/xacro/process_sensor_parameters.xacro" />
	tip_sensors: ${tip_sensors}
	mid_sensors: ${mid_sensors}
	prox_sensors: ${prox_sensors}
	palm_sensor: ${palm_sensor}
	</xacro:macro>
	<group input="no param">
		<xacro:test />
	</group>
	<group input="deprecated param = false">
		<xacro:test bio="false" />
	</group>
	<group input="deprecated param = true">
		<xacro:test bio="true" />
		<xacro:test bt_sp="true" />
		<xacro:test eli="true" />
	</group>
	<group input="single string">
		<xacro:test tip_sensors="bio" />
	</group>
	<xacro:property name="input" value="bt_2p bt_2p pst pst pst" />
	<group input="list-like string: ${input}">
		<xacro:test tip_sensors="${input}" />
	</group>
	<xacro:property name="input" value="TH=bt_2p, ff=pst, mfx=pst" />
	<group input="dict-like string: ${input}">
		<xacro:test tip_sensors="${input}" />
	</group>
	<xacro:property name="input" value="${['bt_2p', 'pst', 'pst']}" />
	<group input="list: ${input}">
		<xacro:test tip_sensors="${input}" />
	</group>
	<xacro:property name="input" value="${dict(lf='bt_2p', mf='pst', th='pst')}" />
	<group input="dict: ${input}">
		<xacro:property name="default_sensor" value="none" />
		<xacro:test tip_sensors="${input}" />
	</group>
</test>
